########################################################################
#
# Customization (philippe)
#
########################################################################
#===================================
# E-MAJ
#===================================
DIST_EMAJ_USER_PGVER=(14 17 18 19)

#---------------
# v14
#---------------
PG14_DIR=/home/postgres/pg/pg14
PG14_BIN=${PG14_DIR}/bin
PG14_SHARE=${PG14_DIR}/share/postgresql
PG14_USER=postgres
PG14_DATA=/home/postgres/db14
PG14_HOST=localhost
PG14_PORT=5414
#---------------
# v17
#---------------
PG17_DIR=/home/postgres/pg/pg17
PG17_BIN=${PG17_DIR}/bin
PG17_SHARE=${PG17_DIR}/share/postgresql
PG17_USER=postgres
PG17_DATA=/home/postgres/db17
PG17_HOST=localhost
PG17_PORT=5417
#---------------
# v18
#---------------
PG18_DIR=/home/postgres/pg/pg18
PG18_BIN=${PG18_DIR}/bin
PG18_SHARE=${PG18_DIR}/share/postgresql
PG18_USER=postgres
PG18_DATA=/home/postgres/db18
PG18_HOST=localhost
PG18_PORT=5418
#---------------
# v19
#---------------
PG19_DIR=/home/postgres/pg/pg19
PG19_BIN=${PG19_DIR}/bin
PG19_SHARE=${PG19_DIR}/share/postgresql
PG19_USER=postgres
PG19_DATA=/home/postgres/db19
PG19_HOST=localhost
PG19_PORT=5419
