########################################################################
#
# Customization (philippe)
#
########################################################################
#===================================
# E-MAJ
#===================================
DIST_EMAJ_USER_PGVER=(17 18)

#---------------
# v17
#---------------
PG17_DIR=/home/postgres/pg/pg17
PG17_BIN=${PG17_DIR}/bin
PG17_SHARE=${PG17_DIR}/share/postgresql
PG17_USER=postgres
PG17_DATA=/home/postgres/db17
PG17_HOST=localhost
PG17_PORT=5417
#---------------
# v18
#---------------
PG18_DIR=/home/postgres/pg/pg18
PG18_BIN=${PG18_DIR}/bin
PG18_SHARE=${PG18_DIR}/share/postgresql
PG18_USER=postgres
PG18_DATA=/home/postgres/db18
PG18_HOST=localhost
PG18_PORT=5418
